.profile-item{
    width: 23%;
    padding: 15px;
    margin: 1%;
    max-height: 350px;
}
.profile-img{
    height: 250px;
}
.img-wrapper{
    position: relative;;
}

.info{
    display:none;
}
.available-icon{
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
 .card-title {
    margin-bottom: 0.5rem;
}

.info span{
    display:block;
    font-size: 14px;
}
.profile-item:hover .info{
    display:block;
}

.profile-item:hover .profile-img{
    height: 180px;
}

@media screen and (max-width: 1200px) {
    .info span{
        display:block;
        font-size: 12px;
    }
    
}

@media screen and (max-width: 992px) {
    .profile-item{
        width:31.33%;
    }
    
    .profile-img{
        height: 200px;
    }
    .profile-item:hover .profile-img{
        height: 150px;
    }

    .profile-item{
       height: 300px;
    }

    .card-body {
        padding-top: 0.7rem;
    } 

  }
  

@media screen and (max-width: 768px) {
    .profile-item{
        width:48%;
    }
    
  }

@media screen and (max-width: 576px) {
    .profile-item{
        width:100%;
    }
    
  }