.input-wrapper{
    display:inline-block;
    position:relative;
}
.search-icon{
    position: absolute;
    display: inline-block;
    height: 15px;
    width: 15px;
    top: 9px;
    right: 10px;
    background: url('../../assets/icon-search.svg') no-repeat center center;
    background-size: contain;

}

.search-input{
    padding-left: 10px;
}